In [17]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.23 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install plotly

Requirement already satisfied: plotly in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (5.22.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\vaishnavi daule\appdata\local\programs\python\python312\lib\site-packages (from plotly) (8.3.0)
Requirement already satisfied: packaging in c:\users\vaishnavi daule\appdata\roaming\python\python312\site-packages (from plotly) (24.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import warnings
import plotly.express as px
warnings.filterwarnings('ignore')
%matplotlib inline

In [22]:
df=pd.read_csv("IndianWeatherRepository.csv")

In [23]:
df

,country,location_name,region,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,India,Ashoknagar,Madhya Pradesh,24.57,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,12.6,18.5,1,2,05:59 AM,06:41 PM,05:42 PM,03:38 AM,Waxing Gibbous,93
1,India,Raisen,Madhya Pradesh,23.33,77.80,Asia/Kolkata,1693286100,2023-08-29 10:45,27.5,81.5,...,10.7,14.2,1,1,06:00 AM,06:40 PM,05:39 PM,03:41 AM,Waxing Gibbous,93
2,India,Chhindwara,Madhya Pradesh,22.07,78.93,Asia/Kolkata,1693286100,2023-08-29 10:45,26.3,79.3,...,16.8,20.7,2,2,05:56 AM,06:34 PM,05:32 PM,03:39 AM,Waxing Gibbous,93
3,India,Betul,Madhya Pradesh,21.86,77.93,Asia/Kolkata,1693286100,2023-08-29 10:45,25.6,78.1,...,4.9,6.6,1,1,06:00 AM,06:38 PM,05:36 PM,03:43 AM,Waxing Gibbous,93
4,India,Hoshangabad,Madhya Pradesh,22.75,77.72,Asia/Kolkata,1693286100,2023-08-29 10:45,27.2,81.0,...,11.4,14.8,1,1,06:01 AM,06:39 PM,05:38 PM,03:42 AM,Waxing Gibbous,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115557,India,Niwari,Uttar Pradesh,28.88,77.53,Asia/Kolkata,1711815300,2024-03-30 21:45,29.0,84.2,...,50.5,129.9,3,6,06:12 AM,06:37 PM,11:28 PM,08:52 AM,Waning Gibbous,80
115558,India,Saitual,Mizoram,23.97,92.58,Asia/Kolkata,1711815300,2024-03-30 21:45,18.3,64.9,...,16.2,18.0,2,2,05:14 AM,05:35 PM,10:11 PM,08:02 AM,Waning Gibbous,80
115559,India,Ranipet,Tamil Nadu,12.93,79.33,Asia/Kolkata,1711815300,2024-03-30 21:45,25.4,77.8,...,8.2,13.2,1,1,06:10 AM,06:24 PM,10:41 PM,09:21 AM,Waning Gibbous,80
115560,India,Tenkasi,Tamil Nadu,8.97,77.30,Asia/Kolkata,1711815300,2024-03-30 21:45,31.0,87.8,...,9.4,11.8,1,1,06:19 AM,06:31 PM,10:41 PM,09:37 AM,Waning Gibbous,80
115561,India,Pendra,Maharashtra,21.93,74.15,Asia/Kolkata,1711815300,2024-03-30 21:45,27.8,82.0,...,21.3,28.8,2,2,06:28 AM,06:48 PM,11:23 PM,09:23 AM,Waning Gibbous,80

In [24]:
columns_to_drop = ['cloud','visibility_km','uv_index','country','region','timezone','last_updated_epoch','temperature_fahrenheit','wind_direction','wind_kph','wind_degree','pressure_in','precip_in','feels_like_fahrenheit','feels_like_celsius','visibility_miles','gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide', 'air_quality_Ozone', 'air_quality_Nitrogen_dioxide', 'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10', 'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise', 'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination']
df.drop(columns= columns_to_drop,inplace = True)
df

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity
0,Ashoknagar,24.57,77.72,2023-08-29 10:45,27.5,Partly cloudy,12.8,1008.0,0.0,67
1,Raisen,23.33,77.80,2023-08-29 10:45,27.5,Sunny,9.6,1008.0,0.0,70
2,Chhindwara,22.07,78.93,2023-08-29 10:45,26.3,Partly cloudy,11.4,1009.0,0.0,70
3,Betul,21.86,77.93,2023-08-29 10:45,25.6,Cloudy,10.5,1009.0,0.0,76
4,Hoshangabad,22.75,77.72,2023-08-29 10:45,27.2,Cloudy,10.1,1009.0,0.0,74
...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45,29.0,Mist,2.2,1011.0,0.0,45
115558,Saitual,23.97,92.58,2024-03-30 21:45,18.3,Clear,3.6,1014.0,0.0,79
115559,Ranipet,12.93,79.33,2024-03-30 21:45,25.4,Clear,6.3,1014.0,0.0,57
115560,Tenkasi,8.97,77.30,2024-03-30 21:45,31.0,Mist,2.2,1013.0,0.0,66
115561,Pendra,21.93,74.15,2024-03-30 21:45,27.8,Clear,6.7,1012.0,0.0,23

In [25]:
cat_cols= df.select_dtypes(include = ['object']).columns
cat_cols

Index(['location_name', 'last_updated', 'condition_text'], dtype='object')

In [26]:
num_cols = df.select_dtypes(include = ['number']).columns
num_cols

Index(['latitude', 'longitude', 'temperature_celsius', 'wind_mph',
       'pressure_mb', 'precip_mm', 'humidity'],
      dtype='object')

In [27]:
clear_data = df[df['condition_text'] == 'Clear']

clear_data

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity
573,Seoni,22.08,79.53,2023-08-30 08:45,21.6,Clear,5.4,1007.0,0.0,91
1095,Chhindwara,22.07,78.93,2023-08-31 05:15,21.4,Clear,4.7,1009.0,0.0,75
1096,Betul,21.86,77.93,2023-08-31 05:15,21.0,Clear,2.7,1009.0,0.0,87
1097,Hoshangabad,22.75,77.72,2023-08-31 05:15,23.0,Clear,5.4,1008.0,0.0,84
1099,Jabalpur,23.17,79.95,2023-08-31 05:15,22.7,Clear,3.1,1008.0,0.0,79
...,...,...,...,...,...,...,...,...,...,...
115130,West Godavari,16.70,81.10,2024-03-30 21:30,29.0,Clear,3.8,1012.0,0.0,79
115254,Nandi Hills,13.33,77.65,2024-03-30 21:30,28.0,Clear,11.9,1018.0,0.0,25
115340,Kolar,13.13,78.13,2024-03-30 21:30,28.0,Clear,11.9,1018.0,0.0,25
115350,Bangalore,12.98,77.58,2024-03-30 21:30,28.0,Clear,11.9,1018.0,0.0,25
115351,Tumkur,13.34,77.10,2024-03-30 21:30,28.0,Clear,11.9,1018.0,0.0,25

In [28]:
count = df["condition_text"].value_counts()
count

condition_text
Clear                                          46245
Clear                                          23055
Mist                                           16371
Partly cloudy                                   9181
Patchy rain possible                            5126
Light rain shower                               2914
Partly Cloudy                                   2128
Fog                                             2014
Overcast                                        1816
Cloudy                                          1367
Patchy rain nearby                              1260
Sunny                                            772
Light rain                                       497
Moderate or heavy rain shower                    402
Overcast                                         332
Light drizzle                                    270
Cloudy                                           253
Moderate or heavy rain with thunder              236
Patchy light drizzle                             233
Moderate rain                                    175
Patchy light rain                                145
Patchy light rain with thunder                   112
Moderate rain at times                            93
Thundery outbreaks possible                       74
Light freezing rain                               65
Heavy rain                                        57
Moderate or heavy snow showers                    45
Patchy light rain in area with thunder            39
Torrential rain shower                            34
Heavy snow                                        33
Thundery outbreaks in nearby                      32
Light snow showers                                30
Patchy snow nearby                                26
Patchy light snow                                 25
Light snow                                        18
Light sleet                                       15
Patchy moderate snow                              14
Moderate or heavy snow in area with thunder       11
Light sleet showers                                8
Patchy heavy snow                                  6
Patchy light snow with thunder                     6
Moderate or heavy sleet                            5
Patchy sleet nearby                                5
Patchy snow possible                               5
Patchy light snow in area with thunder             4
Heavy rain at times                                4
Moderate snow                                      2
Moderate or heavy rain in area with thunder        1
Moderate or heavy snow with thunder                1
Name: count, dtype: int64

In [29]:
df["condition_text"].nunique()

49

In [30]:
count = df["condition_text"].str.strip().value_counts()
unique_values = df["condition_text"].unique()
df['condition_text'] = df['condition_text'].str.lower()
print(unique_values)

['Partly cloudy' 'Sunny' 'Cloudy' 'Mist' 'Patchy rain possible' 'Overcast'
 'Patchy light rain with thunder' 'Light rain shower'
 'Moderate or heavy rain shower' 'Clear' 'Light rain'
 'Torrential rain shower' 'Fog' 'Thundery outbreaks possible'
 'Patchy light drizzle' 'Moderate rain' 'Patchy light rain'
 'Moderate rain at times' 'Heavy rain' 'Heavy rain at times'
 'Light drizzle' 'Moderate or heavy rain with thunder'
 'Patchy snow possible' 'Moderate or heavy snow showers'
 'Light snow showers' 'Moderate or heavy snow with thunder'
 'Patchy light snow with thunder' 'Light sleet' 'Light freezing rain'
 'Patchy light snow' 'Patchy moderate snow' 'Light snow' 'Moderate snow'
 'Overcast ' 'Clear ' 'Cloudy ' 'Partly Cloudy ' 'Patchy rain nearby'
 'Thundery outbreaks in nearby' 'Heavy snow'
 'Patchy light snow in area with thunder'
 'Patchy light rain in area with thunder' 'Light sleet showers'
 'Moderate or heavy snow in area with thunder'
 'Moderate or heavy rain in area with thunder' 'Patchy heavy snow'
 'Patchy snow nearby' 'Patchy sleet nearby' 'Moderate or heavy sleet']

In [31]:
threshold = 1000
repl = count [count>=threshold].index
repl

Index(['Clear', 'Mist', 'Partly cloudy', 'Patchy rain possible',
       'Light rain shower', 'Overcast', 'Partly Cloudy', 'Fog', 'Cloudy',
       'Patchy rain nearby'],
      dtype='object', name='condition_text')

In [32]:
from sklearn.preprocessing import LabelEncoder

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
le=LabelEncoder()

In [ ]:
le.fit(repl)

LabelEncoder()

In [ ]:
le.transform(repl)

array([0, 4, 7, 9, 3, 5, 6, 2, 1, 8])

In [ ]:
le.classes_

array(['Clear', 'Cloudy', 'Fog', 'Light rain shower', 'Mist', 'Overcast',
       'Partly Cloudy', 'Partly cloudy', 'Patchy rain nearby',
       'Patchy rain possible'], dtype=object)

In [ ]:
df.dtypes

location_name           object
latitude               float64
longitude              float64
last_updated            object
temperature_celsius    float64
condition_text          object
wind_mph               float64
pressure_mb            float64
precip_mm              float64
humidity                 int64
dtype: object

In [ ]:
df.index

RangeIndex(start=0, stop=115562, step=1)

In [ ]:
df['last_updated']=pd.to_datetime(df['last_updated'])

In [ ]:
df

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity
0,Ashoknagar,24.57,77.72,2023-08-29 10:45:00,27.5,partly cloudy,12.8,1008.0,0.0,67
1,Raisen,23.33,77.80,2023-08-29 10:45:00,27.5,sunny,9.6,1008.0,0.0,70
2,Chhindwara,22.07,78.93,2023-08-29 10:45:00,26.3,partly cloudy,11.4,1009.0,0.0,70
3,Betul,21.86,77.93,2023-08-29 10:45:00,25.6,cloudy,10.5,1009.0,0.0,76
4,Hoshangabad,22.75,77.72,2023-08-29 10:45:00,27.2,cloudy,10.1,1009.0,0.0,74
...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45:00,29.0,mist,2.2,1011.0,0.0,45
115558,Saitual,23.97,92.58,2024-03-30 21:45:00,18.3,clear,3.6,1014.0,0.0,79
115559,Ranipet,12.93,79.33,2024-03-30 21:45:00,25.4,clear,6.3,1014.0,0.0,57
115560,Tenkasi,8.97,77.30,2024-03-30 21:45:00,31.0,mist,2.2,1013.0,0.0,66
115561,Pendra,21.93,74.15,2024-03-30 21:45:00,27.8,clear,6.7,1012.0,0.0,23

In [ ]:
df.dtypes

location_name                  object
latitude                      float64
longitude                     float64
last_updated           datetime64[ns]
temperature_celsius           float64
condition_text                 object
wind_mph                      float64
pressure_mb                   float64
precip_mm                     float64
humidity                        int64
dtype: object

In [ ]:
df['last_updated'].dt.year

0         2023
1         2023
2         2023
3         2023
4         2023
          ...
115557    2024
115558    2024
115559    2024
115560    2024
115561    2024
Name: last_updated, Length: 115562, dtype: int32

In [ ]:
df['Target']=df.shift(-1)['temperature_celsius']

In [ ]:
df

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity,Target
0,Ashoknagar,24.57,77.72,2023-08-29 10:45:00,27.5,partly cloudy,12.8,1008.0,0.0,67,27.5
1,Raisen,23.33,77.80,2023-08-29 10:45:00,27.5,sunny,9.6,1008.0,0.0,70,26.3
2,Chhindwara,22.07,78.93,2023-08-29 10:45:00,26.3,partly cloudy,11.4,1009.0,0.0,70,25.6
3,Betul,21.86,77.93,2023-08-29 10:45:00,25.6,cloudy,10.5,1009.0,0.0,76,27.2
4,Hoshangabad,22.75,77.72,2023-08-29 10:45:00,27.2,cloudy,10.1,1009.0,0.0,74,25.9
...,...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45:00,29.0,mist,2.2,1011.0,0.0,45,18.3
115558,Saitual,23.97,92.58,2024-03-30 21:45:00,18.3,clear,3.6,1014.0,0.0,79,25.4
115559,Ranipet,12.93,79.33,2024-03-30 21:45:00,25.4,clear,6.3,1014.0,0.0,57,31.0
115560,Tenkasi,8.97,77.30,2024-03-30 21:45:00,31.0,mist,2.2,1013.0,0.0,66,27.8
115561,Pendra,21.93,74.15,2024-03-30 21:45:00,27.8,clear,6.7,1012.0,0.0,23,NaN

In [ ]:
df.ffill()

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity,Target
0,Ashoknagar,24.57,77.72,2023-08-29 10:45:00,27.5,partly cloudy,12.8,1008.0,0.0,67,27.5
1,Raisen,23.33,77.80,2023-08-29 10:45:00,27.5,sunny,9.6,1008.0,0.0,70,26.3
2,Chhindwara,22.07,78.93,2023-08-29 10:45:00,26.3,partly cloudy,11.4,1009.0,0.0,70,25.6
3,Betul,21.86,77.93,2023-08-29 10:45:00,25.6,cloudy,10.5,1009.0,0.0,76,27.2
4,Hoshangabad,22.75,77.72,2023-08-29 10:45:00,27.2,cloudy,10.1,1009.0,0.0,74,25.9
...,...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45:00,29.0,mist,2.2,1011.0,0.0,45,18.3
115558,Saitual,23.97,92.58,2024-03-30 21:45:00,18.3,clear,3.6,1014.0,0.0,79,25.4
115559,Ranipet,12.93,79.33,2024-03-30 21:45:00,25.4,clear,6.3,1014.0,0.0,57,31.0
115560,Tenkasi,8.97,77.30,2024-03-30 21:45:00,31.0,mist,2.2,1013.0,0.0,66,27.8
115561,Pendra,21.93,74.15,2024-03-30 21:45:00,27.8,clear,6.7,1012.0,0.0,23,27.8

In [ ]:
from sklearn.linear_model import Ridge

In [ ]:
df.corr(numeric_only=True)

,latitude,longitude,temperature_celsius,wind_mph,pressure_mb,precip_mm,humidity,Target
latitude,1.000000,0.076130,-0.508373,-0.184791,0.198815,-0.064091,-0.306976,-0.392312
longitude,0.076130,1.000000,-0.109316,-0.267551,-0.013229,0.041448,0.291353,-0.078985
temperature_celsius,-0.508373,-0.109316,1.000000,0.249179,-0.716753,0.061829,0.088251,0.717651
wind_mph,-0.184791,-0.267551,0.249179,1.000000,-0.180021,0.057535,-0.098117,0.185023
pressure_mb,0.198815,-0.013229,-0.716753,-0.180021,1.000000,-0.165893,-0.301725,-0.570380
precip_mm,-0.064091,0.041448,0.061829,0.057535,-0.165893,1.000000,0.174666,0.065227
humidity,-0.306976,0.291353,0.088251,-0.098117,-0.301725,0.174666,1.000000,0.133852
Target,-0.392312,-0.078985,0.717651,0.185023,-0.570380,0.065227,0.133852,1.000000

In [ ]:
rr=Ridge(alpha=.1)

In [ ]:
predictor=df.columns[~df.columns.isin(['location_name','latitude','condition_text','longitude','last_updated','precip_mm','Target'])]

In [ ]:
predictor

Index(['temperature_celsius', 'wind_mph', 'pressure_mb', 'humidity'], dtype='object')

In [ ]:
def backtest(df,model,predictor,start=3650,step=90):
    all_prediction=[]
    for i in range(start,df.shape[0],step):
        train=df.iloc[:i,:]
        test=df.iloc[i:(i+step),:]
        
        model.fit(train[predictor],train['Target'])
        
        preds=model.predict(test[predictor])
        
        preds=pd.Series(preds,index=test.index)
        combined=pd.concat([test['Target'],preds],axis=1)
        
        combined.columns=['actual','prediction']
        
        combined['diff']=(combined['prediction']-combined['actual']).abs()
        
        all_prediction.append(round(combined))
    return pd.concat(all_prediction)

In [ ]:
prediction=backtest(df,rr,predictor)

In [ ]:
prediction

        actual  prediction  diff
3650      22.0        24.0   2.0
3651      24.0        23.0   2.0
3652      26.0        24.0   2.0
3653      26.0        24.0   2.0
3654      25.0        24.0   1.0
...        ...         ...   ...
115557    18.0        26.0   7.0
115558    25.0        19.0   6.0
115559    31.0        23.0   8.0
115560    28.0        27.0   1.0
115561     NaN        25.0   NaN

[111912 rows x 3 columns]

In [ ]:
prediction.ffill(inplace=True)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(prediction['actual'],prediction['prediction'])

2.9252090928586747

In [ ]:
prediction['diff'].mean()

2.914102151690614

In [ ]:
def pct_diff(old,new):
    return round((new-old)/old)

def compute_rolling(df,horizon,col):
    label=f'rolling_{horizon}_{col}'
    
    df[label]=round(df[col].rolling(horizon).mean())
    df[f"{label}_pct"]=round(pct_diff(df[label],df[col]))
    return df

rolling_horizons=[3,14]

for horizon in rolling_horizons:
    for col in ['temperature_celsius', 'wind_mph', 'pressure_mb', 'humidity']:
        df=compute_rolling(df,horizon,col)

In [ ]:
df

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity,...,rolling_14_humidity,rolling_14_humidity_pct,month_avg_temperature_celsius,day_avg_temperature_celsius,month_avg_wind_mph,day_avg_wind_mph,month_avg_pressure_mb,day_avg_pressure_mb,month_avg_humidity,day_avg_humidity
28,Bhind,26.56,78.79,2023-08-29 10:45:00,32.4,patchy rain possible,12.8,1005.0,0.1,50,...,NaN,NaN,32.400000,32.400000,12.800000,12.800000,1005.000000,1005.000000,50.000000,50.000000
29,Jhabua,22.77,74.60,2023-08-29 10:45:00,27.3,cloudy,13.0,1009.0,0.0,63,...,NaN,NaN,29.850000,29.850000,12.900000,12.900000,1007.000000,1007.000000,56.500000,56.500000
30,Seoni,22.08,79.53,2023-08-29 10:45:00,26.7,partly cloudy,10.7,1008.0,0.0,69,...,NaN,NaN,28.800000,28.800000,12.166667,12.166667,1007.333333,1007.333333,60.666667,60.666667
31,Khandwa,21.83,76.33,2023-08-29 10:45:00,28.2,cloudy,10.1,1009.0,0.0,64,...,NaN,NaN,28.650000,28.650000,11.650000,11.650000,1007.750000,1007.750000,61.500000,61.500000
32,Umaria,23.53,80.83,2023-08-29 10:45:00,27.0,patchy rain possible,9.6,1007.0,0.2,74,...,NaN,NaN,28.320000,28.320000,11.240000,11.240000,1007.600000,1007.600000,64.000000,64.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45:00,29.0,mist,2.2,1011.0,0.0,45,...,56.0,-0.0,23.314576,27.018635,5.973272,6.814576,1012.943754,1011.747232,44.733090,47.461255
115558,Saitual,23.97,92.58,2024-03-30 21:45:00,18.3,clear,3.6,1014.0,0.0,79,...,58.0,0.0,23.314271,27.002578,5.973128,6.808656,1012.943818,1011.751381,44.735178,47.519337
115559,Ranipet,12.93,79.33,2024-03-30 21:45:00,25.4,clear,6.3,1014.0,0.0,57,...,59.0,-0.0,23.314398,26.999632,5.973148,6.807721,1012.943883,1011.755515,44.735925,47.536765
115560,Tenkasi,8.97,77.30,2024-03-30 21:45:00,31.0,mist,2.2,1013.0,0.0,66,...,62.0,0.0,23.314866,27.006972,5.972918,6.799266,1012.943886,1011.757798,44.737220,47.570642
115561,Pendra,21.93,74.15,2024-03-30 21:45:00,27.8,clear,6.7,1012.0,0.0,23,...,58.0,-1.0,23.315140,27.008425,5.972962,6.799084,1012.943828,1011.758242,44.735896,47.525641

In [ ]:
df=df.iloc[14:,:]

In [ ]:
df

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115534 entries, 28 to 115561
Data columns (total 35 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   location_name                       115534 non-null  object
 1   latitude                            115534 non-null  float64
 2   longitude                           115534 non-null  float64
 3   last_updated                        115534 non-null  datetime64[ns]
 4   temperature_celsius                 115534 non-null  float64
 5   condition_text                      115534 non-null  object
 6   wind_mph                            115534 non-null  float64
 7   pressure_mb                         115534 non-null  float64
 8   precip_mm                           115534 non-null  float64
 9   humidity                            115534 non-null  int64
 10  Target                              115533 non-null  float64
 11  rolling_3_temperature_celsius       115534 non-null  float64
 12  rolling_3_temperature_celsius_pct   115534 non-null  float64
 13  rolling_3_wind_mph                  115534 non-null  float64
 14  rolling_3_wind_mph_pct              115534 non-null  float64
 15  rolling_3_pressure_mb               115534 non-null  float64
 16  rolling_3_pressure_mb_pct           115534 non-null  float64
 17  rolling_3_humidity                  115534 non-null  float64
 18  rolling_3_humidity_pct              115534 non-null  float64
 19  rolling_14_temperature_celsius      115534 non-null  float64
 20  rolling_14_temperature_celsius_pct  115534 non-null  float64
 21  rolling_14_wind_mph                 115534 non-null  float64
 22  rolling_14_wind_mph_pct             115534 non-null  float64
 23  rolling_14_pressure_mb              115534 non-null  float64
 24  rolling_14_pressure_mb_pct          115534 non-null  float64
 25  rolling_14_humidity                 115534 non-null  float64
 26  rolling_14_humidity_pct             115534 non-null  float64
 27  month_avg_temperature_celsius       115534 non-null  float64
 28  day_avg_temperature_celsius         115534 non-null  float64
 29  month_avg_wind_mph                  115534 non-null  float64
 30  day_avg_wind_mph                    115534 non-null  float64
 31  month_avg_pressure_mb               115534 non-null  float64
 32  day_avg_pressure_mb                 115534 non-null  float64
 33  month_avg_humidity                  115534 non-null  float64
 34  day_avg_humidity                    115534 non-null  float64
dtypes: datetime64[ns](1), float64(31), int64(1), object(2)
memory usage: 30.9+ MB

In [ ]:
def expand_mean(df1):
    return df1.expanding(1).mean()
for col in ['temperature_celsius', 'wind_mph', 'pressure_mb', 'humidity']:
    df[f"month_avg_{col}"]=df[col].groupby(df['last_updated'].dt.month,group_keys=False).apply(expand_mean)
    df[f"day_avg_{col}"]=df[col].groupby(df['last_updated'].dt.day_of_year,group_keys=False).apply(expand_mean)

In [ ]:
df

,location_name,latitude,longitude,last_updated,temperature_celsius,condition_text,wind_mph,pressure_mb,precip_mm,humidity,...,rolling_14_humidity,rolling_14_humidity_pct,month_avg_temperature_celsius,day_avg_temperature_celsius,month_avg_wind_mph,day_avg_wind_mph,month_avg_pressure_mb,day_avg_pressure_mb,month_avg_humidity,day_avg_humidity
28,Bhind,26.56,78.79,2023-08-29 10:45:00,32.4,patchy rain possible,12.8,1005.0,0.1,50,...,NaN,NaN,32.400000,32.400000,12.800000,12.800000,1005.000000,1005.000000,50.000000,50.000000
29,Jhabua,22.77,74.60,2023-08-29 10:45:00,27.3,cloudy,13.0,1009.0,0.0,63,...,NaN,NaN,29.850000,29.850000,12.900000,12.900000,1007.000000,1007.000000,56.500000,56.500000
30,Seoni,22.08,79.53,2023-08-29 10:45:00,26.7,partly cloudy,10.7,1008.0,0.0,69,...,NaN,NaN,28.800000,28.800000,12.166667,12.166667,1007.333333,1007.333333,60.666667,60.666667
31,Khandwa,21.83,76.33,2023-08-29 10:45:00,28.2,cloudy,10.1,1009.0,0.0,64,...,NaN,NaN,28.650000,28.650000,11.650000,11.650000,1007.750000,1007.750000,61.500000,61.500000
32,Umaria,23.53,80.83,2023-08-29 10:45:00,27.0,patchy rain possible,9.6,1007.0,0.2,74,...,NaN,NaN,28.320000,28.320000,11.240000,11.240000,1007.600000,1007.600000,64.000000,64.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115557,Niwari,28.88,77.53,2024-03-30 21:45:00,29.0,mist,2.2,1011.0,0.0,45,...,56.0,-0.0,23.314576,27.018635,5.973272,6.814576,1012.943754,1011.747232,44.733090,47.461255
115558,Saitual,23.97,92.58,2024-03-30 21:45:00,18.3,clear,3.6,1014.0,0.0,79,...,58.0,0.0,23.314271,27.002578,5.973128,6.808656,1012.943818,1011.751381,44.735178,47.519337
115559,Ranipet,12.93,79.33,2024-03-30 21:45:00,25.4,clear,6.3,1014.0,0.0,57,...,59.0,-0.0,23.314398,26.999632,5.973148,6.807721,1012.943883,1011.755515,44.735925,47.536765
115560,Tenkasi,8.97,77.30,2024-03-30 21:45:00,31.0,mist,2.2,1013.0,0.0,66,...,62.0,0.0,23.314866,27.006972,5.972918,6.799266,1012.943886,1011.757798,44.737220,47.570642
115561,Pendra,21.93,74.15,2024-03-30 21:45:00,27.8,clear,6.7,1012.0,0.0,23,...,58.0,-1.0,23.315140,27.008425,5.972962,6.799084,1012.943828,1011.758242,44.735896,47.525641

In [ ]:
predictor=df.columns[~df.columns.isin(['location_name','latitude','condition_text','longitude','last_updated','precip_mm','Target'])]

In [ ]:
predictor

Index(['temperature_celsius', 'wind_mph', 'pressure_mb', 'humidity',
       'rolling_3_temperature_celsius', 'rolling_3_temperature_celsius_pct',
       'rolling_3_wind_mph', 'rolling_3_wind_mph_pct', 'rolling_3_pressure_mb',
       'rolling_3_pressure_mb_pct', 'rolling_3_humidity',
       'rolling_3_humidity_pct', 'rolling_14_temperature_celsius',
       'rolling_14_temperature_celsius_pct', 'rolling_14_wind_mph',
       'rolling_14_wind_mph_pct', 'rolling_14_pressure_mb',
       'rolling_14_pressure_mb_pct', 'rolling_14_humidity',
       'rolling_14_humidity_pct', 'month_avg_temperature_celsius',
       'day_avg_temperature_celsius', 'month_avg_wind_mph', 'day_avg_wind_mph',
       'month_avg_pressure_mb', 'day_avg_pressure_mb', 'month_avg_humidity',
       'day_avg_humidity'],
      dtype='object')